@model InlasoftWeb.Models.Caso

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Caso</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ServicioId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ServicioId" class ="form-control" asp-items="ViewBag.ServicioId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaInicio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Contraparte" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Contraparte" class="form-control" />
                <span asp-validation-for="Contraparte" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirmaId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FirmaId" class ="form-control" asp-items="ViewBag.FirmaId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClienteId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SucursalId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SucursalId" class ="form-control" asp-items="ViewBag.SucursalId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Catastro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Catastro" class="form-control" />
                <span asp-validation-for="Catastro" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastModifiedDate" class="form-control" />
                <span asp-validation-for="LastModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
