@{
    ViewData["Title"] = "Inicio";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if (User.Identity.IsAuthenticated)
{
    <p>Está conectado como @User.Identity.Name. <a href="/Account/Logout">Finalizar Sesión</a> </p>

}
else
{
    <p>No hay usuario conectado</p>
}
@if (!User.Identity.IsAuthenticated)
{
<div>
    <a href="/Account/Login">Iniciar Sesión</a>
</div>
<div>
    <a href="/Account/ForgotPassword">Olvidé mi Contraseña</a>
</div>
}